.button{
    height: 35px;
    border: 1px solid #C9517A;
    width: 70%;
    border-radius: 8px;
    background-color: #C9517A;
    color: white;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{
    border: 1px solid #C9517A;
    background-color: white;
    color: #C9517A;
}

/* PANIC BUTTON */

.panic-button{
    background:#C566DA;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 12%;
    right: 5%;
}
