.header{
        padding: 5%;
        width: 100vw;
        background-color: #520064;
        position: fixed;
        top: 0;
        color: white;
        display: flex;
        justify-content: space-between;
    }

    .header label{
        font-size: 1.5rem;
        font-weight: 500;
    }

.body-container{
    margin-top: 25%;
    height: 100vh;
}

.MuiCard-root{
    max-width: 100% !important;
    margin: 8% !important;
}

.container {
    padding-bottom: 60px;
}