.header{
    padding: 5%;
    width: 100vw;
    background-color: #520064;
    position: fixed;
    top: 0;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header label{
    font-size: 1.5rem;
    font-weight: 500;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--ifm-spacing-horizontal)*-1);
}

.leaflet-container {
    margin-top: 19%;
    height: 83vh;
}

.MuiCircularProgress-colorSecondary {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}